<form action="{{ path('_security_check') }}" method="post">
    <h1>Login </h1>
    <div>
        <input name="_username" id="username" type="text" class="form-control" placeholder="Email address"
               required="required"/>
    </div>
    <div>
        <input name="_password" id="password" type="password" class="form-control" placeholder="Password"
               required="required"/>
    </div>
    <div>
        <button class="btn btn-default submit" type="submit">Log in</button>
        <a class="reset_pass" href="#">Lost your password?</a>
    </div>

    <div class="clearfix"></div>


</form>