<li><a><i class="fa fa-edit"></i> Clients <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="{{ path('app.client.add') }}.html">Add</a></li>
        <li><a href="{{ path('app.client.list') }}.html">List</a></li>

    </ul>
</li>